* {
    box-sizing: border-box;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    color: #FF00FF;


}

/* h1{

    color: blue; */

.col {
    border: 1px solid yellowgreen;
    flex-basis: calc(100% / 3);


}




@media (max-width: 576px){
    h1 {
        color: blueviolet;


    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .flex-container {
        flex-basis: 100%;
    }

    .col {
        flex-basis: 100vh;
        margin-bottom: 5px;
        flex-basis: calc(100% /3);


    }


}